:root {
    --primary-color: #FFFFFF;
    --secondary-color: #E7FFD8;
    --tertiary-color: #008069;
    --highlight-color: #00a884;
    --background: #EFE6DD;
    --primary-text: #EFE2F0;
    --secondary-text: #000000;
    --font: Arial, Helvetica, sans-serif;
}