:root {
    --primary-color: #1F2C34;
    --secondary-color: #005D4B;
    --tertiary-color: #1F2C34;
    --highlight-color: #00a884;
    --background: #09141A;
    --primary-text: #E9EDF0;
    --secondary-text: #E9EDF0;
    --font: Arial, Helvetica, sans-serif;
}